@use '@/styles/variables' as *;

.confirm__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: $color-white-09;
  border-radius: 16px;
  padding: 20px 20px 0 20px;
}

.confirm__header__title {
  font-size: 16px;
  font-weight: 800;
  color: $color-white-01;
  text-align: center;
}

.confirm__body {
  padding: 24px 0;
}

.confirm__body__content {
  font-size: 14px;
  color: $color-white-01;
  text-align: center;
}

.confirm__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $border-color-04;
  border-top: 1px solid $border-color-01;
}

.cancel__button,
.confirm__button {
  flex: 1;
  font-size: 14px;
  // color: $color-white-02;
  color: $color-magenta;
  padding: 16px 0;
}
