@use '@/styles/variables' as *;

.enjoy__modal__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 999;
}

.enjoy__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 540px;
  background-color: $color-background;
  border-radius: 16px;
}

.enjoy__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgba($color-white-09, 0.3);
  border-radius: 16px;
  padding: 40px 20px;
}

.enjoy__image__wrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enjoy__image {
  width: 100%;
  max-width: 280px;
  object-fit: contain;
  padding: 0 20px;
  margin-bottom: 20px;
}

.enjoy__content {
  font-size: 17px;
  font-weight: 700;
  color: $color-white-01;
  text-align: center;
}

.login__button {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 48px;
  text-align: center;
  background: $color-magenta;
  background: -webkit-linear-gradient(to right, $color-cyan, $color-magenta);
  background: linear-gradient(to right, $color-cyan, $color-magenta);
  border-radius: 12px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .enjoy__modal {
    width: 100%;
    height: 100%;
    border-radius: unset;
  }

  .enjoy__section {
    border-radius: unset;
  }
}

@media (max-width: 576px) {
  .enjoy__section {
    padding: 40px $padding-small;
  }
}
