@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-background;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  isolation: isolate;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 10px $padding-large;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  cursor: pointer;
}

.header__logo__link {
  display: flex;
}

.search__container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 930px);
  min-width: 300px;
  max-width: 400px;
}

.toolbar__container {
  flex: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toolbar__user {
  position: relative;
  padding: 3px;
  margin-left: 4px;

  &:hover {
    &::before {
      display: block;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include orb-gradient(to bottom, 1);
  }
}

.toolbar__login {
  font-size: 12px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 30px;
  letter-spacing: -0.2px;
  border-radius: 8px;
  @include orb-gradient(to right, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 0 16px;
  margin-left: 12px;

  &:hover {
    @include orb-gradient(to right, 1);
  }
}

.search__button,
.menu__button {
  padding: 4px;
  cursor: pointer;

  path {
    stroke: $color-white-01;
  }
}

.header__mobile__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px $padding-medium;
  margin: 0 auto;

  .toolbar__container {
    gap: 12px;
  }
}

@media (max-width: 1024px) {
  .header__wrapper {
    padding: 10px $padding-medium;
  }
}

@media (max-width: 576px) {
  .header__wrapper {
    padding: 10px $padding-small;
  }

  .header__mobile__wrapper {
    padding: 10px $padding-small;
  }
}
