@use '@/styles/variables' as *;

@use '@/styles/variables' as *;

.rating__container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.rating__image__wrapper {
  flex: none;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 10px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid $border-color-02;
  }
}

.rating__image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating__range__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating__text {
  font-size: 14px;
  color: $color-white-02;
  text-align: center;
  margin-bottom: 6px;
}

.rating__range__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
}

.empty__rating {
  svg {
    path {
      fill: $color-white-08;
    }
  }
}

.fill__rating {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  // transition: width 0.25s ease;
  pointer-events: none;

  svg {
    path {
      // fill: $color-magenta;
      fill: $color-yellow;
    }
  }
}

.rating__tooltip {
  font-size: 14px !important;
  border-radius: 6px !important;
  background-color: $color-white-08 !important;
}
