@use '@/styles/variables' as *;

.review__rating__wrapper {
  display: flex;
  align-items: center;
}

.review__rating__range {
  display: flex;
  align-items: center;
  gap: 2px;

  &[data-color='red'] {
    .review__rating__fill {
      background-color: $color-red;
    }
  }
  &[data-color='yellow'] {
    .review__rating__fill {
      background-color: $color-yellow;
    }
  }
  &[data-color='green'] {
    .review__rating__fill {
      background-color: $color-green;
    }
  }
}

.review__rating__fill {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.review__rating__count {
  font-size: 14px;
  color: $color-white-02;
  margin-left: 6px;
}
