@use '@/styles/variables' as *;

.review__rating__wrapper {
  display: flex;
  align-items: center;
}

.review__rating__range {
  display: flex;
  align-items: center;
  gap: 2px;

  &[data-color='red'] {
    .review__rating__fill {
      path {
        fill: $color-red;
      }
    }
  }
  &[data-color='yellow'] {
    .review__rating__fill {
      path {
        fill: $color-yellow;
      }
    }
  }
  &[data-color='green'] {
    .review__rating__fill {
      path {
        fill: $color-green;
      }
    }
  }
}

.review__rating__fill {
  svg {
    path {
      fill: $color-white-08;
    }
  }
}

.review__rating__count {
  font-size: 14px;
  color: $color-white-02;
  line-height: 16px;
  margin-left: 4px;
}
