@use '@/styles/variables' as *;

:global(header.transparent) {
  .search__form {
    border: 1px solid transparent;
    background-color: rgba($color-background, 0.5);
  }

  .search__input {
    color: $color-white-01;

    &::placeholder {
      color: rgba($color-white-02, 0.5);
    }
  }
}

:global(.header__search__wrapper) {
  .search__form {
    flex: 1;
    border: none;
    background-color: rgba($color-white-08, 0.5);
    margin-right: 4px;
  }

  .search__input {
    &::placeholder {
      color: rgba($color-white-01, 0.5);
    }
  }
}

.search__form {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 12px;
  border: 1px solid $border-color-02;
  background-color: $color-background;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 0 8px 0 14px;

  &:focus-within {
    border-color: $border-color-05;
  }
}

.search__form__button {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
}

.search__icon {
  path {
    stroke: $color-white-01;
  }
}

.search__input {
  flex: 1 1;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  caret-color: rgba($color-white-02, 0.5);
  color: $color-white-01;
  line-height: 1;
  letter-spacing: -0.2px;
  background-color: transparent;

  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: rgba($color-white-02, 0.25);
  }
}

.search__dropdown {
  position: absolute;
  top: 44px;
  width: 100%;
  border-radius: 12px;
  background-color: $color-white-09;
  z-index: 100;
}

.search__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
  font-size: 14px;
  font-weight: 600;
  color: $color-white-04;
}

.search__header {
  display: flex;
  justify-content: space-between;
  padding: 14px $padding-small 7px;
}

.search__title,
.search__clear {
  font-size: 12px;
  font-weight: 600;
  color: $color-white-04;
}

.search__list {
  padding: 5px 0;
}

.search__item {
  position: relative;
  height: 36px;
  padding: 0 48px 0 16px;

  &:hover {
    background-color: rgba($color-white-01, 0.05);
  }
}

.search__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  .search__icon {
    flex: none;
    padding: 4px;

    path {
      stroke: $color-white-04;
    }
  }
}

.search__keyword {
  font-size: 14px;
  font-weight: 600;
  color: $color-white-01;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 8px;
  overflow: hidden;
}

.search__remove {
  position: absolute;
  top: 0;
  right: 8px;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  z-index: 10;

  &:hover {
    .close__icon {
      border-radius: 8px;
      background-color: rgba($color-white-01, 0.1);
    }
  }
}

.close__icon {
  padding: 4px;

  path {
    fill: $color-white-04;
  }
}

.search__footer {
  display: flex;
  justify-content: space-between;
  height: 35px;
  border-top: 1px solid $border-color-01;
  padding: 9px $padding-small 10px;
}

.search__save,
.search__close {
  font-size: 12px;
  font-weight: 600;
  color: $color-white-04;
}

@media (max-width: 768px) {
  .search__dropdown {
    top: $header-height;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - $header-height);
    border-radius: unset;
  }

  .search__empty {
    flex: 1 1;
  }

  .search__list {
    flex: 1 1;
  }

  .search__item {
    height: 42px;
  }

  .search__title,
  .search__clear {
    font-size: 13px;
  }

  .search__keyword {
    font-size: 16px;
  }

  .search__footer {
    height: 50px;
    padding: 0;
  }

  .search__save,
  .search__close {
    height: 100%;
    font-size: 13px;
    padding: 0 $padding-small;
  }
}
