@use '@/styles/variables' as *;

.share__modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 998;
}

.share__modal__wrapper {
  position: absolute;
  width: 450px;
  outline: none;
  z-index: 999;
}

.share__modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-white-09;
  border-radius: 16px;
  padding: 20px;
}

.share__header {
  margin-bottom: 20px;
}

.share__header__title {
  font-size: 18px;
  font-weight: 700;
  color: $color-white-01;
}

.share__body {
  padding-top: 4px;
}

.share__button__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.share__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 0 6px;
}

.share__button__image__wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.share__button__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.share__button__name {
  font-size: 12px;
  font-weight: 500;
  color: $color-white-01;
}

.share__link__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid $border-color-01;
  border-radius: 12px;
  padding: 8px 0;
}

.share__link {
  flex: 1 1;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: $color-white-01;
  line-height: 1;
  letter-spacing: -0.2px;
  background-color: transparent;
  margin-left: 14px;
}

.share__link__button {
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  color: $color-background;
  border-radius: 8px;
  background-color: $color-white-02;
  padding: 0 16px;
  margin: 0 8px;
}

@media (max-width: 768px) {
  .share__modal__wrapper {
    width: 100%;
    bottom: 0;
  }

  .share__modal {
    justify-content: flex-end;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 20px 20px 40px 20px;
  }
}
