@use '@/styles/variables' as *;

.rank__thumbnail__wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: url('#{$cdn-base-url}/assets/images/default-image.png') no-repeat center / auto 20%;
  background-color: $color-white-09;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid $border-color-01;
  }
}

.rank__number__wrapper {
  position: absolute;
  bottom: -14px;
  right: -8px;
  display: flex;
  z-index: 10;
}

.rank__number {
  position: relative;
  width: 74px;
  height: 74px;
  z-index: 10;

  &:not(:first-child) {
    margin-left: -32px;
    z-index: 9;
  }

  &[data-number='1'] {
    + .rank__number {
      margin-left: -40px;
      z-index: 9;
    }
  }
}

.rank__info__container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

@media (max-width: 576px) {
  .rank__thumbnail__wrapper {
    border-radius: 8px;

    &::after {
      border-radius: 8px;
    }
  }

  .rank__number__wrapper {
    bottom: -12px;
    right: -6px;
  }

  .rank__number {
    width: 50px;
    height: 50px;

    &:not(:first-child) {
      margin-left: -22px;
    }

    &[data-number='1'] {
      + .rank__number {
        margin-left: -28px;
      }
    }
  }

  .rank__info__container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
