@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.detail__main {
  min-height: calc(100vh - $footer-height);
  padding-bottom: 60px;
  overflow: hidden;
}

.detail__main__section {
  position: relative;
  width: 100vw;
  height: 700px;
}

.detail__background__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 0);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(50% + (120px / 2));
    background: linear-gradient(to bottom, rgba($color-background, 0) 0%, rgba($color-background, 1) 85%);
    margin-bottom: calc(-120px / 2);
    pointer-events: none;
  }
}

.detail__background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: top 20% left 50%;
}

.detail__main__info__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: calc(120px / 2);
}

.detail__main__info__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 $padding-large;
  margin: 0 auto;
}

.detail__title__container {
  flex: 1;
  margin-right: 24px;
}

.detail__title__og {
  font-size: 18px;
  font-weight: 600;
  color: $color-white-01;
  word-break: keep-all;
  margin-bottom: 2px;
}

.detail__title__kr {
  font-size: 45px;
  font-weight: 800;
  color: $color-white-01;
  word-break: keep-all;
  word-wrap: break-word;

  &[data-small='true'] {
    font-size: 36px;
  }
}

.detail__genre__wrapper {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 8px;

  li {
    flex: none;
  }
}

.detail__genre__link {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: $color-white-02;
  line-height: 26px;
  border-radius: 6px;
  background-color: rgba($color-white-02, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 0 8px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid $border-color-04;
  }
}

.detail__control__wrapper {
  display: flex;
  gap: 8px;
}

.detail__sub__info__container {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 100%;
  cursor: pointer;
}

.detail__sub__info__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 1440px;
  padding: 0 $padding-large;
  margin: 0 auto;
}

.detail__sub__info__item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 210px;
  width: auto;
  height: 120px;
  border-radius: 24px;
  background-color: rgba($color-white-02, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  &[data-index='0'],
  &[data-color='default'] {
    .detail__sub__content {
      color: $color-white-06;
    }
  }

  &.rating {
    &[data-color='red'] {
      .detail__sub__content {
        color: $color-red;
      }
    }
    &[data-color='yellow'] {
      .detail__sub__content {
        color: $color-yellow;
      }
    }
    &[data-color='green'] {
      .detail__sub__content {
        color: $color-green;
      }
    }
  }

  &.release {
    .detail__sub__content__wrapper {
      gap: 2px;
    }

    .detail__sub__content {
      &.date {
        font-size: 14px;
        font-weight: 600;
        color: $color-white-04;
      }
    }
  }

  &.country {
    .detail__sub__content__wrapper {
      // gap: 24px;
      gap: 10px;
    }

    &[data-index]:not([data-index='0'], [data-index='1']) {
      .detail__sub__content {
        font-size: 18px;
      }
    }
  }

  &.production {
    .detail__sub__content__wrapper {
      // gap: 28px;
      gap: 10px;
    }

    &[data-index]:not([data-index='0'], [data-index='1']) {
      .detail__sub__content {
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }
}

.detail__sub__title {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) scale(-1, -1);
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  color: $color-white-06;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

.detail__sub__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 44px;
  overflow-y: scroll;
}

.detail__sub__content {
  display: block;
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  color: $color-white-01;
  text-align: center;
  white-space: wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.detail__sub__button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  path {
    stroke: $color-white-06;
  }
}

.detail__sub__wrapper {
  width: 100%;
  max-width: 1440px;
  padding-top: calc((120px / 2) + 20px);
  margin: 0 auto;
}

.detail__report__section {
  display: flex;
  justify-content: flex-end;
  padding: 0 $padding-large;
}

.detail__sub__section {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 40px;
  padding: 20px $padding-large;
}

.detail__main__title__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.detail__main__title {
  font-size: 16px;
  font-weight: 700;
  color: $color-white-02;
  line-height: 18px;
  margin-bottom: 15px;
}

.detail__review__more__button {
  display: flex;
  align-items: center;
}

.detail__review__more__text {
  font-size: 14px;
  color: $color-white-04;
  margin-right: -4px;
}

.detail__review__more__icon {
  path {
    fill: $color-white-04;
  }
}

.detail__poster__section {
  grid-row: 1;
  grid-column: 1;
}

.detail__poster__wrapper {
  position: relative;
  display: flex;
  width: 280px;
  background-color: transparent;
}

.detail__poster {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 14px;
}

.detail__synopsis__section {
  grid-row: 1;
  grid-column: 2;
}

.detail__synopsis__section,
.detail__more__wrapper {
  display: flex;
  flex-direction: column;
}

.detail__tags__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 7px;
}

.detail__tag {
  font-size: 12px;
  line-height: 24px;
  color: $color-white-06;
  border-radius: 12px;
  background-color: $color-white-09;
  padding: 0 6px;
}

.detail__synopsis {
  font-size: 14px;
  color: $color-white-03;
  line-height: 20px;
  white-space: pre-wrap;

  // 5줄 이상일때 생략
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  &.expanded {
    -webkit-line-clamp: unset;
  }
}

.synopsis__more__button {
  width: auto;
  font-size: 14px;
  color: $color-white-06;
  margin: 15px auto 0 0;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.detail__more__wrapper {
  grid-row: 1;
  grid-column: 3;
  gap: 40px;
}

.detail__my__rating__section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.detail__my__rating {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.my__rating__text {
  font-size: 14px;
  font-weight: 600;
  color: $color-white-06;
  line-height: 1;

  &.number {
    font-size: 24px;
    font-weight: 800;
  }

  &[data-color='red'] {
    color: $color-red;
  }
  &[data-color='yellow'] {
    color: $color-yellow;
  }
  &[data-color='green'] {
    color: $color-green;
  }
}

.detail__platform__section {
  display: flex;
  flex-direction: column;
}

.detail__platform__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.detail__platform {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.platform__image__wrapper {
  position: relative;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.platform__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.platform__image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color-background, 0.5);
  pointer-events: none;
}

.platform__release__overlay {
  color: $color-white-02;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.platform__info {
  display: none;
}

.platform__name {
  font-size: 14px;
  font-weight: 500;
  color: $color-white-02;
}

.platform__release {
  font-size: 12px;
  color: $color-white-04;
}

.detail__people__section {
  width: 100%;
  max-width: 1440px;
  padding: 20px $padding-large;
  margin: 0 auto;

  :global(.people__image__wrapper) {
    margin-right: 12px;
  }

  :global(.people__image) {
    border-radius: 50%;
  }
}

.detail__people__wrapper {
  position: relative;

  &[data-length='1'],
  &[data-length='2'],
  &[data-length='3'],
  &[data-length='4'] {
    :global(.swiper-wrapper) {
      grid-template-rows: unset;
    }
  }

  :global(.swiper-wrapper) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
  }
}

.people__prev__button,
.people__next__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $border-color-01;
  background-color: $color-background;
  box-shadow: 0 0 2px 0 rgba($color-white, 0.05);
  padding: 5px;
  z-index: 10;
  cursor: pointer;

  &:disabled {
    display: none;
  }

  &:hover {
    border: 1px solid $border-color-03;
    background-color: $color-white-09;
  }

  svg {
    path {
      fill: $color-white-02;
    }
  }
}

.people__prev__button {
  left: -20px;
}

.people__next__button {
  right: -20px;
}

.people__prev__button::after,
.people__next__button ::after {
  display: none;
}

.detail__people__link {
  display: flex;
  align-items: center;
  padding: 6px 0;
  margin-right: 12px;
}

.detail__people__info__wrapper {
  display: flex;
  flex-direction: column;
}

.detail__people__name {
  font-size: 15px;
  font-weight: 500;
  color: $color-white-02;
  margin-bottom: 4px;
}

.detail__people__role {
  font-size: 14px;
  color: $color-white-04;
  overflow: hidden;

  & + & {
    margin-left: 8px;
  }
}

.detail__gallery__section {
  width: 100%;
  max-width: 1440px;
  padding: 20px $padding-large;
  margin: 0 auto;
}

.detail__gallery__wrapper {
  position: relative;
  width: 100%;
}

.detail__gallery__item {
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

.gallery__prev__button,
.gallery__next__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $border-color-01;
  background-color: $color-background;
  box-shadow: 0 0 2px 0 rgba($color-white, 0.05);
  padding: 5px;
  z-index: 10;
  cursor: pointer;

  &:disabled {
    display: none;
  }

  &:hover {
    border: 1px solid $border-color-03;
    background-color: $color-white-09;
  }

  svg {
    path {
      fill: $color-white-02;
    }
  }
}

.gallery__prev__button {
  left: -20px;
}

.gallery__next__button {
  right: -20px;
}

.gallery__prev__button::after,
.gallery__next__button::after {
  display: none;
}

.detail__photo__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: url('#{$cdn-base-url}/assets/images/default-image.png') no-repeat center / auto 33.3333%;
  background-color: $color-white-09;
}

.detail__play__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.detail__photo {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 14px;
}

.detail__review__section {
  width: 100%;
  max-width: 1440px;
  padding: 20px $padding-large;
  margin: 0 auto;
}

.detail__review__total {
  color: $color-magenta;
  margin-left: 4px;
}

.detail__no__review__wrapper {
  text-align: center;
  border-radius: 14px;
  border: 1px solid $border-color-01;
  padding: 20px 16px;
}

.no__review__text {
  font-size: 15px;
  color: $color-white-03;
  line-height: 20px;
  margin-bottom: 14px;

  em {
    font-weight: 600;
    color: $color-white-01;
  }
}

.no__review__button {
  font-size: 14px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 34px;
  border-radius: 8px;
  @include orb-gradient(to right, 0.75);
  padding: 0 16px;
}

.detail__my__review__wrapper {
  display: flex;
  align-items: center;
  max-height: 110px;
  border-radius: 14px;
  border: 1px solid $border-color-01;
  padding: 12px 15px;

  &:hover {
    background-color: $color-white-09;
    border-color: $border-color-03;
  }
}

.my__review__title__wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.my__review__title {
  flex: 1;
  font-size: 15px;
  color: $color-white-02;
  line-height: 20px;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  padding-top: 4px;
  margin: 0 10px;
  cursor: pointer;

  // 3줄 이상일때 생략
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.my__review__button__wrapper {
  display: flex;
  align-items: center;
  color: $color-white-06;
  margin-right: -10px;
}

.my__review__delete__button,
.my__review__update__button {
  display: flex;
  align-items: center;
  padding: 16px 10px;

  &:hover {
    .my__review__button__icon {
      path {
        fill: $color-white-01;
      }
    }
  }
}

.my__review__delete__tooltip,
.my__review__update__tooltip {
  font-size: 14px !important;
  border-radius: 6px !important;
  background-color: $color-white-08 !important;
}

.my__review__button__icon {
  path {
    fill: $color-white-06;
  }
}

.detail__review__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

// 반응형
@media (max-width: 1440px) {
  .detail__sub__info__item {
    flex: none;
  }

  .detail__sub__content__wrapper {
    padding: 20px 54px;
  }
}

@media (max-width: 1280px) {
  .detail__main__info__wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .detail__control__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .detail__people__wrapper {
    &[data-length='4'] {
      :global(.swiper-wrapper) {
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 1024px) {
  .detail__main__info__wrapper {
    padding: 0 $padding-medium;
  }

  .detail__sub__info__wrapper {
    padding: 0 $padding-medium;
  }

  .detail__report__section {
    padding: 0 $padding-medium;
  }

  .detail__sub__section {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    padding: 20px $padding-medium;
  }

  .detail__poster__section {
    grid-column: 1;
    grid-row: 1 / 2;
  }

  .detail__synopsis__section {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .detail__more__wrapper {
    grid-column: 2;
    grid-row: 1;
  }

  .detail__platform__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .detail__people__section {
    padding: 20px $padding-medium;
  }

  .detail__people__wrapper {
    &[data-length='3'] {
      :global(.swiper-wrapper) {
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }

  .detail__gallery__section {
    padding: 20px $padding-medium;
  }

  .detail__review__section {
    padding: 20px $padding-medium;
  }
}

@media (max-width: 768px) {
  .detail__background__wrapper {
    &::after {
      height: calc(50% + (100px / 2));
      margin-bottom: calc(-100px / 2);
    }
  }

  .detail__main__info__container {
    margin-bottom: calc(100px / 2);
  }

  .detail__title__kr {
    font-size: 40px;

    &[data-small='true'] {
      font-size: 32px;
    }
  }

  .detail__sub__info__item {
    min-width: 160px;
    height: 100px;
    border-radius: 21px;

    &[data-index='0'] {
      .detail__sub__content {
        font-size: 24px;
      }
    }

    &.release {
      .detail__sub__content {
        &.date {
          font-size: 13px;
        }
      }
    }

    &.country {
      .detail__sub__content__wrapper {
        gap: 16px;
      }

      &[data-index]:not([data-index='0'], [data-index='1']) {
        .detail__sub__content {
          font-size: 16px;
        }
      }
    }

    &.production {
      .detail__sub__content__wrapper {
        gap: 16px;
      }

      &[data-index]:not([data-index='0'], [data-index='1']) {
        .detail__sub__content {
          font-size: 16px;
        }
      }
    }
  }

  .detail__sub__title {
    left: 16px;
    font-size: 13px;
  }

  .detail__sub__content__wrapper {
    padding: 16px 45px;
  }

  .detail__sub__content {
    font-size: 24px;
  }

  .detail__sub__button {
    right: 8px;
  }

  .detail__sub__wrapper {
    padding-top: 70px;
  }

  .detail__sub__section {
    grid-template-columns: 1fr;
  }

  .detail__synopsis__section ~ .detail__poster__section {
    grid-row: 3;
  }

  .detail__poster__section {
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
  }

  .detail__synopsis__section {
    grid-column: 1;
    grid-row: 2;
  }

  .detail__more__wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  // for test (list 타입)
  // .detail__platform__wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 8px;
  // }

  // .detail__platform {
  //   flex: 1;
  //   flex-direction: row;
  //   gap: 8px;
  //   background-color: $color-white-09;
  //   border-radius: 12px;
  //   padding: 10px 8px;
  // }

  // .platform__image__wrapper {
  //   border-radius: 8px;
  // }

  // .platform__image__overlay {
  //   display: none;
  // }

  // .platform__image {
  //   width: 30px;
  //   height: 30px;
  // }

  // .platform__info {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 4px;
  // }

  .detail__photo {
    border-radius: 12px;
  }
}

@media (max-width: 576px) {
  .detail__main__section {
    height: 400px;
  }

  .detail__background__wrapper {
    &::after {
      height: calc(50% + (74px / 2));
      margin-bottom: calc(-74px / 2);
    }
  }

  .detail__background {
    height: 400px;
  }

  .detail__main__info__container {
    margin-bottom: calc(74px / 2);
  }

  .detail__main__info__wrapper {
    padding: 0 $padding-small;
  }

  .detail__title__og {
    font-size: 14px;
  }

  .detail__title__kr {
    font-size: 32px;

    &[data-small='true'] {
      font-size: 24px;
    }
  }

  .detail__genre__link {
    font-size: 12px;
    line-height: 25px;
  }

  .detail__sub__info__wrapper {
    padding: 0 $padding-small;
  }

  .detail__sub__info__item {
    min-width: 120px;
    height: 74px;
    border-radius: 18px;

    &[data-index='0'] {
      .detail__sub__content {
        font-size: 18px;
      }
    }

    &.release {
      .detail__sub__content {
        &.date {
          font-size: 12px;
        }
      }
    }

    &.country {
      .detail__sub__content__wrapper {
        gap: 10px;
      }

      &[data-index]:not([data-index='0'], [data-index='1']) {
        .detail__sub__content {
          font-size: 14px;
        }
      }
    }

    &.production {
      .detail__sub__content__wrapper {
        gap: 10px;
      }

      &[data-index]:not([data-index='0'], [data-index='1']) {
        .detail__sub__content {
          font-size: 14px;
        }
      }
    }
  }

  .detail__sub__title {
    left: 12px;
    font-size: 12px;
  }

  .detail__sub__content__wrapper {
    padding: 12px 36px;
  }

  .detail__sub__content {
    font-size: 18px;
  }

  .detail__sub__button {
    right: 6px;
  }

  .detail__sub__wrapper {
    padding-top: 57px;
  }

  .detail__report__section {
    padding: 0 $padding-small;
  }

  .detail__sub__section {
    padding: 20px $padding-small;
  }

  .detail__people__section {
    padding: 20px 0;

    .detail__main__title {
      padding-left: $padding-small;
    }
  }

  .detail__people__wrapper {
    &[data-length='2'] {
      :global(.swiper-wrapper) {
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }

  .detail__people {
    padding: 0 $padding-small;
  }

  .people__prev__button,
  .people__next__button {
    display: none;
  }

  .detail__gallery__section {
    padding: 20px 0;

    .detail__main__title {
      padding-left: $padding-small;
    }
  }

  .detail__gallery {
    padding: 0 $padding-small;
  }

  .detail__play__icon {
    width: 36px;
    height: 36px;
  }

  .gallery__prev__button,
  .gallery__next__button {
    display: none;
  }

  .detail__review__section {
    padding: 20px $padding-small;
  }

  .detail__my__review__wrapper {
    flex-direction: column;
    gap: 10px;
    max-height: unset;
  }

  .my__review__title {
    margin-right: 0;
  }

  .my__review__button__wrapper {
    margin: 0 -10px 0 auto;
  }

  .my__review__delete__button,
  .my__review__update__button {
    padding: 5px 10px;
  }
}
