@use '@/styles/variables' as *;

.people__main {
  max-width: 1440px;
  min-height: calc(100vh - $footer-height);
  padding: $header-height 0 60px;
  margin: 0 auto;
}

.people__section {
  width: 100%;
  padding: 0 $padding-large;
  margin: 24px 0 4px;
}

.people__info__container {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 24px;
}

.people__info__wrapper {
  width: 100%;
}

.people__name {
  font-size: 24px;
  font-weight: 700;
  color: $color-white-01;
  line-height: 1.2;
}

.people__name__og {
  font-size: 14px;
  color: $color-white-04;
  line-height: 18px;
  margin-top: 4px;
}

.people__profile__wrapper {
  border-left: 2px solid $border-color-01;
  padding-left: 8px;
  margin-top: 12px;
}

.people__profile {
  display: flex;
  align-items: center;
}

.people__profile__title,
.people__profile__desc {
  font-size: 14px;
  line-height: 20px;
}

.people__profile__title {
  flex: 0 0 32px;
  color: $color-white-04;
  margin-right: 8px;
}

.people__profile__desc {
  color: $color-white-01;
  flex: 1;
}

@media (max-width: 1024px) {
  .people__section {
    padding: 0 $padding-medium;
  }
}

@media (max-width: 576px) {
  .people__section {
    padding: 0 $padding-small;
  }

  .people__name {
    font-size: 20px;
  }
}
