@use '@/styles/variables' as *;

.production__main {
  max-width: 1440px;
  min-height: calc(100vh - $footer-height);
  padding: $header-height 0 60px;
  margin: 0 auto;
}

.production__section {
  width: 100%;
  padding: 0 $padding-large;
  margin: 24px 0 4px;
}

.production__title__wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 24px;
}

.production__title {
  font-size: 24px;
  font-weight: 700;
  color: $color-white-01;
  line-height: 1.2;
}

.production__subtitle {
  font-size: 14px;
  color: $color-white-04;
  line-height: 20px;
  margin-bottom: 4px;
}

@media (max-width: 1024px) {
  .production__section {
    padding: 0 $padding-medium;
  }
}

@media (max-width: 576px) {
  .production__section {
    padding: 0 $padding-small;
  }

  .production__title {
    font-size: 20px;
  }
}
