@use '@/styles/variables' as *;

.production__main {
  max-width: 1440px;
  min-height: calc(100vh - $footer-height);
  // padding: 24px 60px;
  padding: 84px 0 60px;
  margin: 0 auto;
  // margin-top: 60px;
}

.production__section {
  width: 100%;
  padding: 0 60px;
  margin-bottom: 8px;
}

.production__title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 20px;
}

.production__title {
  font-size: 30px;
  font-weight: 700;
  color: $color-white-01;
}

@media (max-width: 1024px) {
  .production__section {
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .production__section {
    padding: 0 15px;
  }

  .production__title {
    font-size: 20px;
  }
}
