@use '@/styles/variables' as *;

.reviews__main {
  min-height: calc(100vh - $footer-height);
  padding: $header-height 0 60px;
}

.reviews__title__section {
  margin: 0 $margin-medium;
}

.reviews__title__wrapper {
  max-width: 640px;
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 24px;
  margin: 24px auto 4px;
}

.reviews__title {
  font-size: 24px;
  font-weight: 700;
  color: $color-white-01;
  line-height: 1.2;
}

.reviews__subtitle {
  font-size: 14px;
  color: $color-white-04;
  line-height: 18px;
  margin-bottom: 4px;
}

.reviews__content__section {
  margin: 0 $margin-medium;
}

.reviews__content {
  max-width: 640px;
  margin: 20px auto 0;
}

@media (max-width: 576px) {
  .reviews__title__section {
    margin: 0 $margin-small;
  }

  .reviews__title {
    font-size: 20px;
  }

  .reviews__content__section {
    margin: 0;
  }
}
