@use '@/styles/variables' as *;

.contents__main {
  width: 100%;
  max-width: 1440px;
  min-height: calc(100vh - $footer-height);
  padding: 60px 0;
  margin: 0 auto;
}

.contents__section {
  max-width: 1440px;
  padding-top: 12px;
  margin: 0 auto;
}

.contents__title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: $color-white-04;
  line-height: 20px;
  padding: 15px 60px 0;

  em {
    font-weight: 800;
    color: $color-white-01;
  }
}

@media (max-width: 1024px) {
  .contents__title {
    padding: 15px 30px 0;
  }
}

@media (max-width: 576px) {
  .contents__title {
    padding: 15px 15px 0;
  }
}
