@use '@/styles/variables' as *;

.reviews__main {
  min-height: calc(100vh - $footer-height);
  padding: $header-height 0 60px;
}

.reviews__title__section {
  margin: 0 $margin-medium;
}

.reviews__title {
  display: block;
  max-width: 640px;
  font-size: 16px;
  font-weight: 600;
  color: $color-white-04;
  line-height: 20px;
  margin: 28px auto 0;

  em {
    font-weight: 800;
    color: $color-white-01;
  }
}

.reviews__content__section {
  margin: 0 $margin-medium;
}

.reviews__content {
  max-width: 640px;
  margin: 20px auto 0;
}

@media (max-width: 576px) {
  .reviews__title__section {
    margin: 0 $padding-small;
  }
  .reviews__content__section {
    margin: 0;
  }
}
