$color-primary: #fc00ff;
$color-subprimary: #00dbde;

$color-background: #05151e;

$color-white-01: #eef7fc;
$color-white-02: #d5dde2;
$color-white-03: #b4c5cf;
$color-white-04: #93a8b4;
$color-white-05: #758f9f;
$color-white-06: #5a7687;
$color-white-07: #3b5868;
$color-white-08: #263d4b;
$color-white-09: #12222b;

$color-white: #ffffff;
$color-black: #0c0c0c;

$color-red: #ff6874;
$color-yellow: #ffbd3f;
$color-green: #00ce7a;
$color-cyan: #00dbde;
$color-magenta: #fc00ff;

$border-color-01: rgba($color-white-02, 0.1);
$border-color-02: rgba($color-white-02, 0.15);
$border-color-03: rgba($color-white-02, 0.2);
$border-color-04: rgba($color-white-02, 0.25);
$border-color-05: rgba($color-white-02, 0.5);

$header-height: 60px;
$footer-height: 169px;
