// variables
// '*'를 사용하면 네임스페이스 없이 변수 사용 가능
@use '@/styles/variables' as *;

// normalize.css
@import '~normalize.css';

// font
@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('#{$cdn-base-url}/assets/fonts/SUIT-Variable.woff2') format('woff2-variations');
}

// common
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// TODO: 스크롤바 커스텀
*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'SUIT Variable', 'Apple SD Gothic NEO', 'Helvetica Neue', Helvetica, 나눔고딕, NanumGothic,
    'Malgun Gothic', '맑은 고딕', 굴림, gulim, 새굴림, 'noto sans', 돋움, Dotum, sans-serif;
  background-color: $color-background;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: 0 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

summary {
  list-style-type: none;

  &::-webkit-details-marker {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  letter-spacing: -0.2px;
  margin: 0;
}

em {
  font-style: normal;
}

.lazy-load-image-background {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

// 헤더 투명 스타일
header {
  &.transparent {
    background: transparent;
    background: -webkit-linear-gradient(to bottom, rgba($color-background, 0.6), rgba($color-background, 0));
    background: linear-gradient(to bottom, rgba($color-background, 0.6), rgba($color-background, 0));
    transition: all 0.2s ease-in-out;
  }
}

// 검색 헤더 스타일
.header__search__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 30px;
}

// 스와이퍼 초기 스타일
.preview-margin-right {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.horizontal-margin-right {
  width: calc((100% - 48px) / 5);
  margin-right: 12px;
}

.genre-margin-right {
  width: calc((100% - 72px) / 7);
  margin-right: 12px;
}

.sub-margin-right {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.gallery-margin-right {
  width: calc((100% - 36px) / 4);
  margin-right: 12px;
}

.people-template {
  grid-template-rows: repeat(2, 72px);
  grid-template-columns: repeat(4, calc(100% / 4));
}

// 홈 버튼
.home__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 34px;
  text-align: center;
  border-radius: 8px;
  background-color: $color-white-08;
  padding: 0 16px;
  margin-top: 20px;
  cursor: pointer;
}

// 뒤로가기 버튼
.back__button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 10px;
  cursor: pointer;

  svg {
    path {
      fill: $color-white;
    }
  }
}

// input 초기화 버튼
.clear__button {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;

  svg {
    path {
      fill: rgba($color-white, 0.5);
      stroke: transparent;
    }
  }
}

// 모달 열렸을 때
.modal__open {
  overflow: hidden;
}

// 모달 닫기 버튼
.modal__close__button {
  position: absolute;
  top: 14px;
  right: $padding-small;
  display: flex;
  cursor: pointer;

  svg {
    padding: 4px;
    path {
      fill: $color-white-04;
    }
  }
}

// 리뷰 좋아요 버튼
.review__like__button {
  display: flex;
  align-items: center;
}

// 리뷰 좋아요 카운트
.review__like__count {
  font-size: 14px;
  font-weight: 600;
  color: $color-white-06;
  margin-left: 6px;

  &[data-like='true'] {
    color: $color-magenta;
  }
}

// 배우 이미지
.people__image__wrapper {
  flex-shrink: 0;
  position: relative;
  background-size: cover;
  overflow: hidden;
  border-radius: 14px;
}

.people__image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .preview-margin-right {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  .genre-margin-right {
    width: calc((100% - 60px) / 6);
    margin-right: 12px;
  }

  .people-template {
    grid-template-columns: repeat(3, calc(100% / 3));
  }

  .gallery-margin-right {
    width: calc((100% - 24px) / 3);
    margin-right: 12px;
  }
}

@media (max-width: 1024px) {
  .horizontal-margin-right {
    width: calc((100% - 30px) / 4);
    margin-right: 10px;
  }

  .genre-margin-right {
    width: calc((100% - 40px) / 5);
    margin-right: 10px;
  }

  .sub-margin-right {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .people-template {
    grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media (max-width: 768px) {
  .preview-margin-right {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  .horizontal-margin-right {
    width: calc((100% - 16px) / 3);
    margin-right: 8px;
  }

  .genre-margin-right {
    width: calc((100% - 21px) / 4);
    margin-right: 8px;
  }

  .sub-margin-right {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .gallery-margin-right {
    width: calc((100% - 10px) / 2);
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .header__search__wrapper {
    position: relative;
    padding: 10px $padding-small;
  }

  .preview-margin-right {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .genre-margin-right {
    width: calc((100% - 21px) / 3.5);
    margin-right: 8px;
  }

  .people-template {
    grid-template-columns: repeat(1, 100%);
  }
}
