// variables
// '*'를 사용하면 네임스페이스 없이 변수 사용 가능
@use '@/styles/variables' as *;

// normalize.css
@import '~normalize.css';

// font
@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('#{$cdn-base-url}/assets/fonts/SUIT-Variable.woff2')
    format('woff2-variations');
}

// common
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// TODO: 스크롤바 커스텀
*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'SUIT Variable', 'Apple SD Gothic NEO', 'Helvetica Neue',
    Helvetica, 나눔고딕, NanumGothic, 'Malgun Gothic', '맑은 고딕', 굴림, gulim,
    새굴림, 'noto sans', 돋움, Dotum, sans-serif;
  background-color: $color-background;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: 0 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

summary {
  list-style-type: none;

  &::-webkit-details-marker {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  letter-spacing: -0.2px;
  margin: 0;
}

em {
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

// 헤더 투명 스타일
header {
  &.transparent {
    background: transparent;
    background: -webkit-linear-gradient(
      to bottom,
      rgba($color-background, 0.6),
      rgba($color-background, 0)
    );
    background: linear-gradient(
      to bottom,
      rgba($color-background, 0.6),
      rgba($color-background, 0)
    );
    transition: all 0.2s ease-in-out;
  }
}

// 검색 헤더 스타일
.header__search__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 30px;
}

// main {
//   min-height: calc(100vh - $footer-height);
//   padding-top: $header-height;
// }

.home__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 34px;
  text-align: center;
  border-radius: 8px;
  background-color: $color-white-08;
  padding: 0 15px;
  margin-top: 20px;
  cursor: pointer;
}

.back__button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 10px;
  cursor: pointer;

  svg {
    path {
      fill: $color-white;
    }
  }
}

.clear__button {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;

  svg {
    path {
      fill: rgba($color-white, 0.5);
      stroke: transparent;
    }
  }
}

.modal__close__button {
  position: absolute;
  top: 9px;
  right: 9px;
  display: flex;
  padding: 6px;
  cursor: pointer;

  svg {
    path {
      fill: $color-white-04;
    }
  }
}

@media (max-width: 576px) {
  .header__search__wrapper {
    position: relative;
    padding: 10px 15px;
  }
}
